# Carpetas de dependencias
node_modules/
target/

# Archivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Variables de entorno
.env
.env.local

# Archivos temporales
*.tmp
*.temp

